# reprint config
reprint:
  # Choose the locale to localize content for
  locale: 'en'

# blog config
blog:
  # Choose a theme by name
  theme: 'bootstrap3-default'
  title: 'reprint powered blog'
  subtitle: 'blockchain powered blog'
  # Filter the content to
  filters:
    # Accounts to load activity of
    accounts:
      'greymass':
        - post
        - reblog
    tags:
      - greymass

# steemd connection
steem:
  # Steem Node to retreive data
  host: 'http://node.steem.ws'