config.routes:
  # Homepage route to handle the options provided in the configuration
  homepage:
    name: 'homepage'
    pattern: /
    method: ['get']
    controller: 'Reprint\Controller\Home::homeAction'

  # View Post
  post_view:
    name: 'post_view'
    pattern: /{category}/@{author}/{permlink}
    method: ['get']
    controller: 'Reprint\Controller\Blog::postAction'

  # View Tagged Posts
  tag_view:
    name: 'tag_view'
    pattern: /tagged/{category}
    method: ['get']
    controller: 'Reprint\Controller\Blog::listAction'