{% extends 'layout.html.twig' %}

{% block content %}

<header class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="profile-heading text-center">
                    {% if account.profileImage() %}
                        <img src="{{ account.profileImage() }}">
                    {% endif %}
                    <h1>{{ account.name }}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a href="https://steemit.com/@{{ account.name }}">
            View profile on steemit.com
        </a>
    </div>
</header>

{% endblock %}
