<nav aria-label="...">
  <ul class="pager">
    {% if page > 1 %}
    <li class="previous"><a href="?page={{ page - 1 }}"><span aria-hidden="true">&larr;</span> Newer</a></li>
    {% endif %}
    <li class="next"><a href="?page={{ page + 1 }}">Older <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>