<div class="ui header">
  steem configuration
  <pre class="sub header">
    resources/config/config.yaml - `steem` variable
  </pre>
</div>

{% include 'partials/table.html.twig' with {'data': steem} %}

<div class="ui header">
  blog configuration
  <pre class="sub header">
    resources/config/config.yaml - `blog` variable
  </pre>
</div>

{% include 'partials/table.html.twig' with {'data': blog} %}