<div class="ui segment">
  <div class="ui header">
    Recent Posts
  </div>
  <div class="ui list">
    {% for post in recent %}
      <div class="item">
        <a href="/{{ post.getCategory() }}/@{{ post.author }}/{{ post.permlink }}">
          {{ post.title }}
        </a>
      </div>
    {% endfor %}
  </div>
</div>
