{% extends 'layout.html.twig' %}

{% block content %}

  {% include 'partials/filters.html.twig' %}
  {% include 'partials/paginator.html.twig' %}
  <div class="ui accordion">
    {% include 'partials/posts.html.twig' %}
  </div>
{% endblock %}
